<configuration>
  <!-- 
  This location tag is used to ensure that only authenticated users can add a new post or reply to
  an existing post... 
  -->
  <location path="AddPost.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

  <location path="EditPost.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

</configuration>
