<?xml version="1.0" encoding="utf-8" ?>
<configuration>	
	<configSections>
    <section name="AspNetForumsSettings" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
	
	<!-- application specific settings -->
	<appSettings>
		<add key="ConnectionString" value="server='129.21.207.05'; user id='sa'; password='ron_Sauter9713'; database='swenet'" />
		<add key="UsersConnectionString" value="server='129.21.207.05'; user id='sa'; password='ron_Sauter9713'; database='UserAccounts'" />
		<add key="MaterialsDir" value="C:\SWENET\Materials\" />
		<add key="MaterialsTempDir" value="C:\SWENET\Materials\Temp\" />
		<add key="AdminsEmail" value="admin@swenet.org" />
		<add key="EditorsEmail" value="editors@swenet.org" />
		<add key="Timeout" value="60" />
		<add key="urlWebSite" value="http://www.swenet.org" />
		<add key="EmailsEnabled" value="true" />
		<add key="VirusScanPath" value="C:\clamav-devel\bin\clamscan.exe" />
	</appSettings>
	
	<system.web>
		<pages validateRequest="false" />
		<!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
    -->
		<compilation defaultLanguage="c#" debug="false" />
		<!--  CUSTOM ERROR MESSAGES
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
          Add <error> tags for each of the errors you want to handle.

          "On" Always display custom (friendly) messages.
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
           on the local Web server. This setting is recommended for security purposes, so 
           that you do not display application detail information to remote clients.
    -->
		<customErrors mode="RemoteOnly" />
		<!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", 
          "Forms", "Passport" and "None"

          "None" No authentication is performed. 
          "Windows" IIS performs authentication (Basic, Digest, or Integrated Windows) according to 
           its settings for the application. Anonymous access must be disabled in IIS. 
          "Forms" You provide a custom form (Web page) for users to enter their credentials, and then 
           you authenticate them in your application. A user credential token is stored in a cookie.
          "Passport" Authentication is performed via a centralized authentication service provided
           by Microsoft that offers a single logon and core profile services for member sites.
    -->
		<authentication mode="Forms">
			<forms loginUrl="http://devswenet.se.rit.edu/login.aspx" name="AuthCookie" timeout="60" protection="All" path="/" />
		</authentication>
		<machineKey validationKey="21F090935F6E49C2C797F69BBAAD8402ABDB667A8B44EA7DD4374267A75D7AD972A119482D15A41274B1DC3463AE5F1CCFAACFF1B72A7F0A281B" 
					decryptionKey="ABAA84DEC4BB5675D21CECFF962880DB8BF96456845BE597" 
					validation="SHA1" />
		<!--  AUTHORIZATION 
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
    -->
		<authorization>
			<allow users="*" /> <!-- Allow all users -->
			<!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
		</authorization>
		<!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
		<!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes"
			cookieless="false" timeout="20" />
		<!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" />
		<httpRuntime maxRequestLength="61440" executionTimeout="420"/>
	</system.web>
	
	<!-- ASP.NET Forums Config Settings -->
	
  <!-- 
  ******************************
  Data Provider
  -->
  <AspNetForumsSettings>
    <add key="DataProviderAssemblyPath" value="AspNetForums.dll" />

    <!-- 
    ******************************
    Application Settings
    ******************************
    -->
    <add key="availableSkins" value="default;LightBlue"/>
    <add key="defaultPageSize" value="25"/>
    <add key="forumsConnectionString" value="server=129.21.207.05;Database=AspNetForums;uid=sa;password=ron_Sauter9713" />
    <add key="defaultDateFormat" value="dd MMM yyyy"/>
    <add key="defaultTimeFormat" value="hh:mm tt"/>
    <add key="pathToTransformationFile" value="/transform.txt" />
    <add key="smtpServer" value="mail.rit.edu" /> <!-- Can specify SMTP Server to use to send out emails.  Use "default" to use the default Windows 2000 SMTP Server -->
    <add key="allowDuplicatePosts" value="true" /><!-- Whether or not you wish to allow messages with duplicate bodies being posted in various forums -->
    <add key="dbTimeZoneOffset" value="-5" /><!-- The timezone offset of your database server. (GMT is +0; EST = -5;) -->
    <add key="siteName" value="SWEnet Forums" /><!-- The name of your AspNetForums.NET Web site. -->
    <add key="DataProviderClassName" value="AspNetForums.Data.SqlDataProvider" />
    <add key="urlWebSite" value="http://www.swenet.org" />
    <!--
    If the ASP.NET Forums are configured to run in a directory that is not
    an IIS VRoot, provide the name of that directory here. -->
    <add key="forumsDirectory" value="/Forums" />

    <!-- 
    ******************************
    URL Resource Paths 
    ******************************
    urlHome - the Url to the home of the application
    urlShowPost - The Url to show a particular post.
    urlShowAllUsers - The Url to show all users.
    urlSearch - The Url to show the search page.
    urlSearchForUser - Searchs for posts by a given user.
    urlRegister - The Url to register as a user.
    urlProfile - The Url to view a user profile.
    urlLogin - The Url to redirect the user to in order to login.
    urlLogout - The Url to redirect a user to when they opt to logout.
    urlShowForum - The Url to show a particular forum.
    urlShowForumGroup - The Url to show a particular forum group.
    urlShowUserInfo - The Url to show a particular user's information.
    urlReplyToPost - The Url to post a reply to an existing post.
    urlAddNewPost - The Url to post a new message.
    urlEditExistingPostFromModeration - The Url to edit an existing post from the moderation system.
    urlEditExistingPostFromAdmin - The Url to edit an existing post from the administration screen.
    urlPostModeration - The Url to moderate posts awaiting approval.
    urlEditForum - The Url to edit an existing forum.
    urlCreateForum - The Url to create a new forum.
    urlShowForumsPostsForAdmin - The Url to show a forums posts for editing/deletign (only available through the administration page).

    Note, the '&' symbol cannot be parsed all '&' in URL are replaced with '^'
    -->
    <add key="urlHome" value="/Default.aspx" />
    <add key="urlShowPost" value="/ShowPost.aspx?PostID=" />
    <add key="urlShowAllUsers" value="/User/ShowAllUsers.aspx" />
    <add key="urlSearch" value="/Search/default.aspx" />
    <add key="urlQuickSearch" value="/Search/default.aspx?searchText=" />
    <add key="urlSearchForPostsByUser" value="/Search/default.aspx?SearchFor=1^SearchText=" />
    <add key="urlRegister" value="/../register.aspx" />
    <add key="urlEditUserProfile" value="/../editUserInfo.aspx" />
    <add key="urlLogin" value="/../login.aspx" />
    <add key="urlAdmin" value="/Admin/default.aspx" />
    <add key="urlAdminEditUser" value="/Admin/EditUser.aspx?Username=" />
    <add key="urlLogout" value="/logout.aspx" />
    <add key="urlShowForum" value="/ShowForum.aspx?ForumID=" />
    <add key="urlShowForumGroup" value="/ShowForumGroup.aspx?ForumGroupID=" />
    <add key="urlShowUserProfile" value="/../viewUserInfo.aspx?username=" />
    <add key="urlReplyToPost" value="/AddPost.aspx?PostID=" />
    <add key="urlUserEditPost" value="/EditPost.aspx?PostID=" />
    <add key="urlAddNewPost" value="/AddPost.aspx?ForumID=" />
    <add key="urlMyForums" value="/User/MyForums.aspx" />
    <add key="urlChangePassword" value="/User/ChangePassword.aspx" />
    <add key="urlForgotPassword" value="/User/EmailForgottenPassword.aspx" />
    <add key="urlModeration" value="/Moderate/default.aspx" />
    <add key="urlModerateForumPosts" value="/Moderate/ModerateForum.aspx?ForumId=" />
    <add key="urlEditPost" value="/Moderate/EditPost.aspx?PostID=" />
    <add key="urlDeletePost" value="/Moderate/DeletePost.aspx?PostID=" />
    <add key="urlManageForumPosts" value="/Moderate/ManageForum.aspx?ForumId=" />
    <add key="urlMovePost" value="/Moderate/MovePost.aspx?PostID=" />
    <add key="urlModerateThread" value="/Moderate/ModerateThread.aspx?PostId=" />
    <add key="urlEditForum" value="/Admin/EditForum.aspx?ForumID=" />
    <add key="urlCreateForum" value="/Admin/CreateNewForum.aspx" />
    <add key="urlShowForumPostsForAdmin" value="/Admin/ShowPosts.aspx?ForumID=" />
    <add key="urlMessage" value="/Msgs/default.aspx?MessageId=" />
    <add key="urlModerationHistory" value="/Moderate/ModerationHistory.aspx?PostId=" />
  </AspNetForumsSettings>
	
	<location path="uploadModule.aspx">
		<system.web>
			<authorization>
				<allow roles="Submitter" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	
	<location path="editModule.aspx">
		<system.web>
			<authorization>
				<allow roles="Submitter" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	
	<location path="viewUserInfo.aspx">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>

	<location path="editUserInfo.aspx">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>	
	
	<location path="MyAccount.aspx">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>	
	
	<location path="EditorsPage.aspx">
		<system.web>
			<authorization>
				<allow roles="Editor" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="AdminPage.aspx">
		<system.web>
			<authorization>
				<allow roles="Admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	
	<location path="UserManagement.aspx">
		<system.web>
			<authorization>
				<allow roles="Admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	
	<location path="ModuleManagement.aspx">
		<system.web>
			<authorization>
				<allow roles="Admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
		
	<location path="editorActionEmail.aspx">
		<system.web>
			<authorization>
				<allow roles="Editor, Admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	
	<location path="feedback.aspx">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>	
	
	<location path="addMaterialRating.aspx">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>
	
	<location path="ChangePassword.aspx">
		<system.web>
			<authorization>
				<allow roles="Admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	
</configuration>